.margin-top-1rem {
    margin-top: 1rem;
}

.margin-left-1rem {
    margin-left: 1rem;
}

.game-over-container {
    align-items: center;
    height: calc(100vh - 56px);
}

@media (max-width: 1024px), only screen and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio : 2) {
    .gameover-overlay {
        margin: 2rem;
    }
}